<div class="wrapper">

	<div class="row">
		<div class="col-md-6 menu-item">
		
			<div class="head">
				<span>Total Companies</span>
			</div>

			<div class="loader" ng-show = 'load'></div>
			
			<div class="circle" ng-show = '!load'>
				<div class="count"><span>{{countCompany}}</span></div>
			</div>
			
		</div>

		<div class="col-md-6 menu-item">
			
			<div class="head">
				<span>List of Companies</span>
			</div>

			<div class="loader " ng-show = 'load'></div>

			<div class="companies " ng-show ='!load'> 

				<div class="company" ng-repeat= 'company in companies' ng-click='getPartners($index)'>{{company.name}}
				</div>

			</div>

		</div>
	</div>

	<div class='wrapper-partners' ng-show='partnersFlag'>

		<div class="head sort"> <span class='but' ng-click ='sortPartnersByName()'>Name</span> <span class='but' ng-click ='sortPartnersByPercentage()'>Percent</span> <span>Sort by:</span> 
		</div>

		<div class="partner"  ng-repeat="partner in partners">
			<div class="bar" style= "height:{{partner.height}}; background-color: {{partner.backgroundColor}}">	
			</div>

			<div class="bar-text">{{partner.name}} - {{partner.percent}}</div>

		</div>

	</div>

	<div class="row">
		<div class="col-md-6 menu-item">

			<div class="head" ng-show ='!load'>
				<span>Companies by Location</span>
				<i class="fa fa-arrow-circle-left" aria-hidden="true" ng-click = 'changeChartFlag()' ng-show='!chartFlag'></i>
			</div>


			<div class="companies" ng-show="!chartFlag">
				<div class="company" ng-repeat ='company in companiesByCountry'>{{company.name}}</div>
			</div>

			<div ng-show='chartFlag'> <canvas id="myChart" width="400" height="400" ng-click="click($event)"></canvas>
			</div>

		</div>
		<div class="col-md-6 menu-item">

			<div class="head" ng-show ='!load'>
				<span>News</span>
			</div>
		
			<div id="slides_control" >
			 	<carousel interval="myInterval">
				    <slide ng-repeat = "slide in news" active="slide.active" class="row">
					    <div class="col-md-4 image">
					    	<div class="img">				    		
					      		<img ng-src = {{slide.img}} alt="CodeIT">
					    	</div>
					    	<div>
					    		<span>Author: {{slide.author}}</span>
					      		<span>Public: {{getDate(slide.date * 1000)}}</span>
					    	</div>
					    </div>

					    <div class="col-md-8 text">
					      <h4 class="title">{{slide.link}}</span>
						      <article>
						      	{{slide.description}}
						      </article>
					    </div>
				    </slide>
			    </carousel>
			</div>
	</div>
</div>
