.wrapper {
	font-size: 16px;
	max-width:980px;
	margin: 0 auto;
}

.head {
	background: rgb(218,218,218);
	height: 2.5em;
	vertical-align: -webkit-baseline-middle;
}

div.head span  {
	margin-left: 1.5em;
}
.circle {
	position: relative;
	width: 12em;
	height: 12em;
	border: 2px solid black;
	border-radius: 10em;
	margin: 2em auto;
}
.count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.count span {
	font-size: 2em;
	font-weight: bold;
}
.menu-item {
	height: 40%;
}